

#page-menu { background-color: #00F7FA !important; }
#page-conocenos {	
	background-image:url('../img/ELEMENTOS P4/conocenos fondo.png');
	background-repeat: repeat;
	background-position: top-left;
	background-size: 75%;
	margin: 0;
	padding: 0;}

#page-musica{
	background-color: #00F7FA !important;
}
#page-pinta-y-colorea{
	background-image:url('images/pintaycoloreafondo.png');
	background-repeat: repeat;
	background-position: top-left;
	background-size: 100%;
	margin: 0;
	padding: 0;
}